extends layout
block header
block content
  div
    
    header.jumbotron.bg-secondary.text-white.text-center.header-pattern
      .container
        h2.font-weight-light.mb-0 dashboard
    main
      .container.text-center
        h1 Hello!