doctype html
html(lang='en')
  include partials/head.pug
  body#page-top
    block header
    #vue
      block content
    include partials/scripts.pug
    script(type="text/javascript").
      new Vue({
        el: '#app',
        data: function data(){
          return {
            data: '' 
          }
        },
        beforeDestroy: function(){
          
        },
        mounted: function(){
          //$.get('/probot')
        },
        methods: {
          
        }
      })